
.btn {
	min-width: 70px;
	display: inline-block;
	margin: 10px;
	padding: 10px 20px;
	font-size: 20pt;
	margin-bottom: 15px;
	background: #424242;
}

.btn.disabled {
	color: gray!important;
	pointer-events: none;
	cursor: default;
}

.abox {
	user-select: none;
	font-size: initial;
}
.btn.abox {
	padding: 6px 0;
	margin: 10px;
	margin-bottom: 15px;
}

img, video, embed {max-width: 90vw;}

.thumba[href^="/"] {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	height: 280px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background: #424242;
}

.overicn {
	height: 24px;
	position: absolute;
	z-index: 3333;
	background-color: rgba(48, 48, 48, .8);
	backdrop-filter: blur(3px);
}


.niceinp {
	font-size: 110%;
	text-align: center;
	border: none;
	background: #424242;
	color: #cfcfcf;
}


a[href^="https://www.furaffinity.net"]:visited {
      color: hsla(116, 70%, 80%, 0.6)!important;
}

.desc {
	width: 80vw;
	margin: 0 auto;
}

.desc a {
	font-size: 120%;
	color: hsl(120, 41%, 43%);!important
}

.perc {
	display: inline-block;
	height: 20px;
	width: 80%;
	border-bottom: 2px solid #
}

.perc div {
	display: inline-block;
}
.linky a {
	color: white!imported;
}
.linky a:visited {
	color: black!important;
}

/*
Convert prefs from filenames to ids
Standardise listing and deduplicate code
Fix -1 to be wrap around
Fix some artists and keyword thumbs being randomised on start?
Fix legacy performance issues
*/

body {
	font-family: sans-serif;
	color: #cfcfcf;
	text-align: center;
	margin: 0;
	min-height: 100vh;
	background-color: #121212;
	width: 100%;
}

a {
	color: inherit!important;
	text-decoration: none;
}

.head, .foot {
	display: block;
	min-height: 76px;
	width: 100%;
	background-color: #272727;
}

#popdown .head {
	margin-top: -20px;
}

.foot {
	padding-bottom: 5px;
}

.head h2 {
	padding-top: 25px;
}
.head h2.btn {
	padding-top: 10px;
}

.pageinner {
	min-width: 100%;
	min-height: 100%;
}

.container {
	margin: 30px auto 20px auto;
	max-width: 100vw;
}

.container.list {
	max-width: 800px;
}

.thumbw {
	display: inline-block;
	width: 250px;
}

.thumbw input {
	width: 140px;
}

.thumba {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	height: 280px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background: #424242;
}

.thumba img {
	width: initial;
	display: inline-block;
	max-width: 250px;
	max-height: 250px;
}

.passed a[href^="/"], .setread a[href^="/"] {
	background: #262626;
}

.op a[href^="/"] {
	background: #38383F!important;
}

.featured a[href^="/"] {
	background: #38343F;
}

.btn.wide {
	min-width: 240px;
}

div.mbutton {
	min-width: 40px;
	min-height: 40px;
}

button.mbutton {
	min-width: 60px;
	min-height: 60px;
}

.mbutton {
	display: inline-block;
	border: none;
	color: #cfcfcf;
	background-color: #202020;
	transition: background-color .2s;
	padding: 10px;
	margin: 0 5px 20px 5px;
	font-size: 24px;
}

.mbutton.on {
	background-color: #707090!important;
}

.mbutton.disabled {
	opacity: 0.5;
}

.menubtn {
	user-select: none;
}

.menubtn a {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	height: 120px;
	padding-top: 40px;
	padding-bottom: 10px;
	margin: 5px 5px 10px 0px;
	background-color: #242424;
}

.menubtn.wide a {
    width: 250px;
    height: 60px;
}

.menubtn span {
	display: block;
	position: relative;
	left: 20px;
	top: -20px;
	width: 100px;
	height: 100px;
	opacity: 0.8;
}

.menubtn.wide span {
	float: left;
    left: 5px;
    top: -35px;
}

.artistinfo {
}

.tags a {
	display: inline-block;
	background: #424242;
	margin: 3px;
	padding: 3px;
	border-radius: 4px;
}

.desc {
	margin-top: 7pt;
}
img, video, embed .desc .tags {max-width: 90vw;}

#sets-man {
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 0%, .4);
}

#sets-man .list {
	margin-top: 100px;
	max-height: calc(100vh - 120px);
	overflow-y: scroll;
}

#sets-man .ctrl {
	width: 100vw;
	position: fixed;
	top: 0;
	padding: 5px;
	background-color: hsla(240, 13%, 50%, .4);
}

#sets-man .ctrl .mbutton {
}

#sets-man .ctrl input {
	color: #cfcfcf;
	text-align: center;
	border: none;
}

#sets-list .mbutton, .ctrl .item {
	display: inline-block;
	text-align: left;
	min-width: 50vw;
	min-height: 40px;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-size: 14pt;
	background: #424242;
}

.list .mbutton span {
	float: right;
}

.mbutton.lock {
	background-color: #908870!important;
}

.hidden {
	display: none!important;
}

.errorpage {
	min-height: 60vh;
	padding: 15px;	
}

.errorpage div {
	display: inline-block;
}

.errorpage img {
	min-height: 210px;
	max-height: 50vh;
	vertical-align: middle;
}

.tbox {
	display: inline-block;
	max-width: 250px;
	vertical-align: top;
}

.iconsheet {
	background: url("/icons.svg");
}

.mbutton.iconsheet {
	background-color: #202020;
	padding: 10px;
	vertical-align: bottom;
	background-image: url(/icons.svg);
	background-size: 600px 600px;
}

span .mbutton.iconsheet,{
	background-size: 400px 400px;
}

i.ico-60 {
	background-size: 600px 600px;
	user-select: none;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: -15px -10px;
	vertical-align: middle;
}

.mbutton .niceinp {
	margin-left: 15px;
}
.mbutton input.niceinp {
	width: 100px;
}

.teenyicon {
	user-select: none;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 240px 240px;
}

a > i.teenyicon {
	margin: -6px -3px -6px 0px;
}

#popdown .menubtn a, #popdown .head {
	background-color: rgba(48, 48, 48, .8);
	backdrop-filter: blur(3px);
}

#popdown {
	width: 100vw;
	max-width: 100vw;
	max-height: 100vh;
	overflow-y: scroll;
	position: fixed;
	top: -100vh;
	left: 0;
	z-index: 9999;
}

#popdownbtn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
}

#popdownbtn.down {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}

#popdown.down {
	animation-name: down;
	animation-fill-mode: forwards;
	animation-duration: .5s;
}

#popdown.up {
	animation-name: up;
	animation-duration: .8s;
}

@keyframes down {
	from {}
	to {top: 0vh;}
}

@keyframes up {
	from {top: 0vh;}
	to {}
}

#btnbox {
	margin: 0 auto;
	max-width: 500px;
	text-align: left;
}

label {
	display: inline-block;
}

label input, label .mbutton, label select {
	margin: 5px 0;
}

.setting div {
	display: inline-block;
	width: calc(50% - 60px);
	padding: 0 30px;
	text-align: right;
}

.setting div:first-child {
	text-align: left;
}

.setting div .niceinp{
	width: 150px;
}

@media only screen and (max-width: 800px) {
	.setting div {
		display: block;
		width: initial;
		text-align: center!important;
	}
}

.talking {
	text-align: initial;
	padding: 20px;
	line-height: 22px;
}