body {
	background: #303030;
	font-family: sans-serif;
	color: #cfcfcf;
	text-align: center;
	margin: 0;
}

a {
	color: inherit!important;
	text-decoration: none;
}

.head {
	display: block;
	width: 100%;
	background: #202020;
	padding: 10px 0;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
}

.foot {
	display: block;
	width: 100%;
	background: #202020;
	padding: 5px 0;
}

.container {
	margin: 30px auto 20px auto;
}

.btn {
	min-width: 240px;
	display: inline-block;
	margin: 10px;
	padding: 20px 0;
	margin-bottom: 15px;
	font-size: 20pt;
	background: #424242;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
}

.btn.disabled {
	color: gray!important;
	pointer-events: none;
	cursor: default;
}

img, video, embed {max-width: 90vw;}

.thumb a {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	height: 280px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background: #424242;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
}

.passed a {
	background: #262626;
}

.featured a {
	background: #38343F;
}

.thumb img {
	width: initial;
	display: inline-block;
	max-width: 250px;
	max-height: 250px;
}

.desc {
	width: 80vw;
	margin: 0 auto;
}

.desc a {
	font-size: 120%;
	color: hsl(120, 41%, 43%);!important
}

button {
	border: none;
	color: #cfcfcf;
	background: #202020;
	padding: 10px;
	min-width: 60px;
	min-height: 60px;
	margin: 10px 20px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
	font-size: 24px;
}

button.on {
	background: #707090;
}

.perc {
	display: inline-block;
	height: 20px;
	width: 80%;
	border-bottom: 2px solid #
}

.perc div {
	display: inline-block;
}
.linky a {
	color: white!imported;
}
.linky a:visited {
	color: black!important;
}